<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>nsnsnwsn</p>
<div class="col-lg-6">
								<div class="central-meta">
									<ul class="photos">
                                        {% for post in user_posts %}
										<li>
											<a class="strip" href="{{post.image.url}}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="{{post.image.url}}" style="height: 250px; width: 300px;" alt=""></a>
										</li>
										{% endfor %}
                                    </ul>
                                </div>
</div>
</body>
</html>